In [1]:
import ephem
import pandas as pd
from datetime import datetime, timedelta
import os

/tmp/ipykernel_804/1063432869.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
def get_solar_position(latitude, longtitude, date):
    observer = ephem.Observer()
    observer.lat = str(latitude)
    observer.lon = str(longtitude)
    observer.date = date

    sun = ephem.Sun(observer)

    azimuth = sun.az * 180 / ephem.pi
    altitude = sun.alt * 180 / ephem.pi

    return azimuth, altitude

In [3]:
def create_month_folder(base_directory, year, month):
    month_folder = os.path.join(base_directory, f"{year}_{month:02d}")
    if not os.path.exists(month_folder):
        os.makedirs(month_folder)
    return month_folder

In [4]:
#location 
latitude = -7.921205
longitude = 112.599437

In [5]:
#date
start_date = datetime(2022, 1, 1)
end_date = datetime(2022, 4, 1)

In [6]:
#interval 
time_interval = timedelta(minutes= 10)

In [7]:
data_list = []

current_date = start_date
while current_date <= end_date: 
    azimuth, altitude = get_solar_position(latitude, longitude, current_date)

    data_list.append({
        'Datetime': current_date,
        'Latitude': latitude,
        'Longitude': longitude,
        'Azimuth': azimuth, 
        'Altitude': altitude
    })

    current_date += time_interval 

    if current_date.date() == end_date.date() and current_date.time() >= datetime.strptime('23:50', '%H:%M').time():
        break

df = pd.DataFrame(data_list)

In [8]:
df.head(10)

             Datetime  Latitude   Longitude     Azimuth   Altitude
0 2022-01-01 00:00:00 -7.921205  112.599437  111.708420  23.116350
1 2022-01-01 00:10:00 -7.921205  112.599437  111.776094  25.411932
2 2022-01-01 00:20:00 -7.921205  112.599437  111.890663  27.706657
3 2022-01-01 00:30:00 -7.921205  112.599437  112.055373  29.999605
4 2022-01-01 00:40:00 -7.921205  112.599437  112.274151  32.289815
5 2022-01-01 00:50:00 -7.921205  112.599437  112.551689  34.576265
6 2022-01-01 01:00:00 -7.921205  112.599437  112.893629  36.857835
7 2022-01-01 01:10:00 -7.921205  112.599437  113.306718  39.133275
8 2022-01-01 01:20:00 -7.921205  112.599437  113.799032  41.401154
9 2022-01-01 01:30:00 -7.921205  112.599437  114.380267  43.659836